<!-- Services Section -->
<section id="cfp">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">What DataPlat is about</h4>
                <div class="cfp">
                    <p>Information systems have evolved into complex data platforms supporting end-to-end data-intensive needs, such as storage, computation, and analysis of data with heterogeneous structures.
                    However, a smart and comprehensive support for data scientists and architects to govern the data through the whole life-cycle is still necessary.</p>
                    
                    <p>Supporting data management and governance requires the collection of metadata capturing the distinguishing features of the data; this enables advanced functionalities spanning from data research and profiling to provenance control, orchestration of data pipelines, incremental data integration, efficient querying, automated analytics, and homogeneous data access.
                    The challenges begin with metadata management in terms of the modeling effort, storage, complexity of retrieval activities, and effective exploitation.
                    While coping with big-data issues, the enabled functionalities must: (i) handle the heterogeneity of storage and computation engines (including DBMSs supporting multiple data models and cloud storage systems with limited control and predictability), (ii) meet suitability requirements for less-skilled users, and (iii) limit the costs of pay-as-you-go resources.</p>
                    
                    <p>This workshop calls for innovative solutions --- from researchers and practitioners --- that address the aforementioned challenges.
                    We welcome papers that contribute to the advancement of data platforms in engineering, optimizing, and simplifying the different aspects of data and metadata management and fruition.</p>
                </div>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-list-ul fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Topics</h4>
                <div class="cfp">
                    <p>The scope of the workshop includes, but is not limited to the following topics.</p>
                    <ul>
                        <li>Metadata modeling for data platforms</li>
                        <li>Techniques for metadata discovery and management</li>
                        <li>Advanced search, exploration, and profiling of data and metadata</li>
                        <li>Semantic enrichment of metadata</li>
                        <li>Data governance</li>
                        <li>Data wrangling</li>
                        <li>Provenance and data versioning control</li>
                        <li>Orchestration and optimization of data transformation pipelines</li>
                        <li>Data integration and querying in multimodel databases, multistores, polystores</li>
                        <li>Query processing, optimization, and performance</li>
                        <li>Entity resolution and data fusion</li>
                        <li>Big data management and querying</li>
                        <li>Artificial Intelligence solutions for data platforms</li>
                        <li>AutoML techniques</li>
                        <li>Cloud computing and architectures</li>
                        <li>Advanced architectures for data lakes and data platforms</li>
                        <li>Analysis, design, implementation, and testing of data platforms</li>
                        <li>Case studies and project experiences</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-file fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Submission</h4>
                <div class="cfp">
                    <!--<p><i><span style="color:red">[NEW 02.03.22]</span> Program published.</i></p>-->
                    <!--<p><i>[NEW 22.12.21] Submission deadline has been extended to January 20, 2024.</i></p>-->
                    <!--<p><i><span style="color:red">[NEW 28.03.23]</span> Papers are available <a href="https://github.com/big-unibo/dataplat2024/tree/master/papers">here</a>.</i></p>-->
                    <!--<p><i><span style="color:red">[NEW 22.11.22]</span> Authors of the <strong>best papers</strong> will be invited to submit an extended version to a <strong>Special Issue with Springer's <a href="https://www.springer.com/journal/10796">Information Systems Frontiers</a> journal (IF: 5.261)</strong>.</i></p>-->
                    <p><i><span style="color:red">[NEW 22.12.23]</span> Submission deadline has been extended to January 22, 2024.</i></p>
                    <p>Submissions should present original results and substantial new work not currently under review or published elsewhere. DataPlat 2024 will follow a single-blind review process to evaluate submissions on the basis of originality, relevance, quality, and technical contribution. The following submissions are accepted:</p>
                    <ul>
                        <li>Regular and short research papers (up to 10 and 5 pages, respectively)</li>
                        <li>Vision papers (up to 5 pages)</li>
                        <li>Application papers (up to 5 pages)</li>
                    </ul>
                    References are included.
                    <p>Papers must be submitted via <a href="https://cmt3.research.microsoft.com/DataPlat2024">Microsoft CTM</a>.
                    Papers should be formatted with the same rules as ICDE conference papers.
                    Manuscripts must be prepared in accordance with the <a href="https://www.ieee.org/conferences_events/conferences/publishing/templates.html">IEEE format</a>. 
                    Only electronic submissions in PDF format will be considered. 
                    A paper submitted to DataPlat 2024 cannot be under review for any other conference or journal during the entire time it is considered for DataPlat 2024.
                    All accepted papers will appear in the conference proceedings.
                    </p>
                    <p>All accepted papers are expected to be presented at the workshop, and at least one author is required to register.</p>
                </div>
            </div>
        </div>
    </div>
</section>
