<!-- Services Section -->
<section id="dates" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Important dates</h2>
                <div class="dates">
                    <p>Paper submission: <s>January 8, 2024</s><strong>January 22, 2024</strong></p>
                    <p>Authors notification: <s>February 5, 2024</s><strong>February 10, 2024</strong></p>
                    <p>Camera ready: February 19, 2024</p>
                    <p>Workshop date: March 28, 2024</p>
                    <!--<p>Paper submission: <s>December 12, 2021</s> <strong>January 20, 2024</strong></p>-->
                    <!--<p>Authors notification: <s>January 17, 2024</s> <strong>February 18, 2024</strong></p>-->
                    <!--<p>Camera ready: <strong>February 25, 2024</strong></p>-->
                    <!--<p>Workshop date: <strong><span style="color:red">March 29, 2024</span></strong></p>-->
                </div>
            </div>
    </div>
</section>
