<!-- Services Section -->
<section id="dates" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Important dates</h2>
                <div class="dates">
                    <p>Paper submission: January 8, 2023</p>
                    <p>Authors notification: February 5, 2023</p>
                    <p>Camera ready: February 19, 2023</p>
                    <p>Workshop date: March 28, 2023</p>
                    <!--<p>Paper submission: <s>December 12, 2021</s> <strong>January 20, 2023</strong></p>-->
                    <!--<p>Authors notification: <s>January 17, 2023</s> <strong>February 18, 2023</strong></p>-->
                    <!--<p>Camera ready: <strong>February 25, 2023</strong></p>-->
                    <!--<p>Workshop date: <strong><span style="color:red">March 29, 2023</span></strong></p>-->
                </div>
            </div>
    </div>
</section>
