<!-- Services Section -->
<section id="dates" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Important dates</h2>
                <div class="dates">
                    <p>Paper submission: <s>December 12, 2021</s> <strong>January 20, 2022</strong></p>
                    <p>Authors notification: <s>January 17, 2022</s> <strong>February 18, 2022</strong></p>
                    <p>Camera ready: <strong>February 25, 2022</strong></p>
                    <p>Workshop date: <strong><span style="color:red">March 29, 2022</span></strong></p>
                </div>
            </div>
    </div>
</section>