<!-- Editions Section -->
<section id="dates" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Past Editions</h2>
                <div class="dates">
                    <ul>
                        <li><a href="https://big.csr.unibo.it/dataplat2023/">DataPlat 2023</a> @ EDBT/ICDT 2023</li>
                        <li><a href="https://big.csr.unibo.it/dataplat2022/">DataPlat 2022</a> @ EDBT/ICDT 2022</li>
                    </ul>
                </div>
            </div>
    </div>
</section>
