<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="img/logo.png" class="img-logo" alt="DataPlat 2023"></a><!--{{site.title}}-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#cfp">Call for papers</a>
                    </li> 
                    <li>
                        <a class="page-scroll" href="#dates">Important dates</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#pc">Committees</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#keynote">Keynote</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#program">Program</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">2nd International Workshop on Data Platform Design, Management, and Optimization</div>
                <div class="intro-lead-in">Co-located with <a href="https://conferences.inf.ed.ac.uk/edbticdt2023/">EDBT/ICDT 2023</a></div>
                <!--<div id="head-fgcs" class="intro-lead-in">Special Issue invitation to Elsevier <a href="https://www.sciencedirect.com/journal/future-generation-computer-systems">FGCS</a> for best papers</div>-->
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

