<section id="keynote" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Keynote speaker</h2>
                <!--<h3 class="section-subheading text-muted">What is DATAPLAT about</h3>-->

                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="img/team/AA2.jpg" class="img-responsive img-circle" alt="">
                            <h4>Alberto Abelló</h4>
                            <p class="text-muted">FIB - Universitat Politècnica de Catalunya</p>
                            <ul class="list-inline social-buttons">
                                <li>
                                    <a href="https://www.essi.upc.edu/dtim/people/alberto">
                                        <i class="fa fa-university"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:aabelloessi.upc.edu">
                                        <i class="fa fa-at"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/alberto-abello-7a6a97b4/?originalSubdomain=es">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <h3 class="section-subheading text-muted">Big DataBase Management System</h3>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <p class="text-muted">A Big Data system is a tiny fraction of analytical code surrounded by a lot of "plumbing" devoted to manage the generated
                            models and the associated data. Hence, we can consider that plumbing to be mimicking a DBMS, which is indeed a complex
                            system that actually has to serve different purposes and hence provide multiple and independent functionalities. Thus, it
                            can neither be studied nor built monolithically as an atomic unit. Oppositely, there are different software inter-dependent
                            components that interact in different ways to achieve the global purpose. Similarly to DBMS, in a Big Data system, we have
                            to understand among other issues how our system is going to collect data; how these are going to be used; where they are
                            going to be stored; how they are going to be related to the corresponding metadata; if we are going to use any kind of master
                            data, where these will come from and how they will be integrated; how are the data going to be processed; how replicas are
                            going to be managed and their consistency guaranteed; etc. In this talk, I will discuss the difficulties to build such
                            system, paying special attention to how metadata can help storage and processing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>