<!-- Services Section -->
<section id="pc">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Committees</h2>
                <h3 class="section-subheading">Program Chairs & Organizers</h3>

                <div class="row">
                    {% for member in site.people %}
                    <div class="col-sm-3">
                        <div class="team-member">
                            <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                            <h4>{{ member.name }}</h4>
                            <p class="text-muted">{{ member.position }}</p>
                            <ul class="list-inline social-buttons">
                                {% for network in member.social %}
                                <li>
                                    <a href="{{ network.url }}">
                                        <i class="fa fa-{{ network.title }}"></i>
                                    </a>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!--<ul>
                    <li>Matteo Francia, DISI - University of Bologna (m.francia@unibo.it)</li>
                    <li>Enrico Gallinucci, DISI - University of Bologna (enrico.gallinucci@unibo.it)</li>
                    <li>Patrick Marcel, LIFAT – Université de Tours (patrick.marcel@univ-tours.fr)</li>
                    <li>Stefano Rizzi, DISI - University of Bologna (stefano.rizzi@unibo.it)</li>
                </ul>-->

                <h3 class="section-subheading">Program Committee</h3>
                <ul class="pcm">
                    <li>Bogdan Cautis - University of Paris-Sud / University Paris-Saclay, France</li>
                    <li>Duncan Ruiz - Escola Politécnica - PUCRS, Brazil</li>
                    <li>Esther Pacitti - University of Montpellier 2, France</li>
                    <li>Fatma Abdelhédi - TRIMANE, France</li>
                    <li>Franck Ravat - Université Paul Sabatier, France</li>
                    <li>Jérome Darmont - University of Lion, France</li>
                    <li>Riccardo Torlone - Università Roma Tre, Italy</li>
                    <li>Sandra Sampaio - University of Manchester, UK</li>
                    <li>Sandro Bimonte - INRAE Clermont Ferrand, France</li>
                    <li>Sergi Nadal - Universitat Politècnica de Catalunya, Spain</li>
                </ul>
            </div>
        </div>
    </div>
</section>
