<section id="program">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Workshop program</h2>

                <h3 class="section-subheading" style="margin-top:40px">The schedule is in <strong><span style="color:red">UTC+2 (EET)</span> - Athens Time</strong></h3>

                <div class="row" id="table-program">
                    <div class="table-wrap col-lg-12">
                        <table class="schdule-table table table-bordered">
                              <thead class="thead-light">
                                <tr>
                                  <th class="head col1" scope="col">time</th>
                                  <th class="head col23" scope="col">title</th>
                                  <th class="head col23" scope="col">speaker / authors</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="prog-opening"><td>08:30 - 09:00</td><td colspan="2">Conference registration</td></tr>

                                <tr class="prog-opening"><td>09:00 - 10:30</td><td colspan="2">[Keynote] Angela Bonifati - shared with DOLAP</td></tr>							  	

                                </td><td>10:30 - 11:00</td><td colspan="2">Coffee Break</td></tr>
                                
                                <tr class="prog-opening"><td>11:00 - 11:05</td><td colspan="2">Opening of the DataPlat - Comonos workshop</td></tr>
                                <tr><td>??:?? - ??:??</td><td>HEALER: A Data Lake Architecture for Healthcare</td><td>Carlo Manco, <b>Tommaso Dolci</b>, Fabio Azzalini, Enrico Barbierato, Marco Gribaudo, and Letizia Tanca</td></tr>
                                <tr><td>??:?? - ??:??</td><td>Easy-to-use interfaces for supporting the user in the semantic annotation of web tables</td><td><b>Sara Bonfitto</b>, Paolo Perlasca, and Marco Mesiti</td></tr>
                                <tr><td>??:?? - ??:??</td><td>Toulouse: Learning Join Order Optimization Policies for Rule-based Data Engines</td><td><b>Antonios Karvelas</b>, Alkis Simitsis, Yannis E Foufoulas, and Yannis Ioannidis</td></tr>
                                <tr><td>??:?? - ??:??</td><td>Mining Data Wrangling Workflows for Patterns, Reuse and Optimisation Opportunities</td><td>Abdullah Kh Almasaud, <b>Sandra Sampaio</b>, and Pedro Sampaio</td></tr>
                                <tr><td>??:?? - ??:??</td><td>Prediction of user-brand associations based on sentiment analysis</td><td><b>Mariella Bonomo</b>, Simona Ester Rombo, and Filippo Rotolo</td></tr>
                                
                                </td><td>13:00 - 14:30</td><td colspan="2">Lunch Break</td></tr>    

                                <tr><td>??:?? - ??:??</td><td>Towards a Multi-Model Approach to Support User-Driven Extensibility in Data Warehouses: Agro-ecology Case Study</td><td>Sandro Bimonte, <b>Fagnine Alassane Coulibaly</b>, Stefano Rizzi, Sylvie malembic-maher, and Frederic Fabre</td></tr>
                                <tr><td>??:?? - ??:??</td><td>MongoDB Data Versioning Performance: local versus Atlas</td><td><b>Ela Pustulka</b> and Lucia de Espona Pernas</td></tr>
                                <tr><td>??:?? - ??:??</td><td>Data migration in column family database evolution using MDE</td><td>Pablo Suárez-Otero, Michael Mior, María José Suárez-Cabal and Javier Tuya</td></tr>
                                <tr><td>??:?? - ??:??</td><td>Propagating schema changes to code: An approach based on a unified data model</td><td>Alberto Hernández Chillón, Jesus Garcia-Molina, José Ramón Hoyos and María José Ortín Ibáñez</td></tr>
                                <tr><td>??:?? - ??:??</td><td>Effective queries for mega-analysis in cognitive neuroscience</td><td>Mateusz Pawlik, Anna Ravenschlag, Monique Denissen, Bianca Löhnert, Nicole Himmelstoß and Florian Hutzler</td></tr>                                
                                
                                </tr class="prog-opening"><td>??:?? - ??:??</td><td colspan="2">Farewell</td></tr>											    					
                              </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>