<section id="program">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Workshop program</h2>

                <h3 class="section-subheading" style="margin-top:40px">The schedule is in <strong><span style="color:red">CEST</span> - Utrecht Time</strong></h3>
                  
                <div class="row" id="table-program">
                    <div class="table-wrap col-lg-12">
                      <table class="schdule-table table table-bordered">
                        <thead class="thead-light">
                          <tr>
                            <th class="head col1" scope="col">time</th>
                            <th class="head col23" scope="col">title</th>
                            <th class="head col23" scope="col">speaker / authors</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr><td>TBD</td><td colspan="2">[Keynote] Felix Naumann</td></tr>

                          <tr><td>TBD</td><td>Towards an End-to-End Data Quality Optimizer</td><td>Valerie Restat, Meike Klettke, Uta Störl</td></tr>
                          <tr><td>TBD</td><td>Data Science Tasks Implemented with Scripts versus GUI-Based Workflows: The Good, the Bad, and the Ugly</td><td>Alexander Taylor, Junheng Hao, Xinyuan Lin, Xiusi Chen, Wei Wang, Chen Li</td></tr>
                          <tr><td>TBD</td><td>CASA: Classification-based Adjusted Slot Admission Control for Query Processing Engines</td><td>Timothy Zeyl, Calvin Sun, Paul Larson</td></tr>
                          <tr><td>TBD</td><td>Design and Development of a Provenance Capture Platform for Data Science</td><td>Riccardo Torlone, Luca Gregori, Alessandro Wood, Matthew Stidolph</td></tr>
                          <tr><td>TBD</td><td>Automating Collaboration Handling and Management in Federated Machine Learning</td><td>Marius Schlegel, Kai-Uwe Sattler, Marco Seeland, Patrick Maeder</td></tr>
                          
                        </tbody>
                      </table>
                        <!--
                        <table class="schdule-table table table-bordered">
                              <thead class="thead-light">
                                <tr>
                                  <th class="head col1" scope="col">time</th>
                                  <th class="head col23" scope="col">title</th>
                                  <th class="head col23" scope="col">speaker / authors</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr><td>08:30 - 09:00</td><td colspan="2">Conference registration</td></tr>

                                <tr><td>09:00 - 10:30</td><td colspan="2">[Keynote] Angela Bonifati - Shared with DOLAP</td></tr>

                                <tr style="background-color: lightgray"><td>10:30 - 11:00</td><td colspan="2">Coffee Break</td></tr>
                                
                                <tr><td>11:00 - 11:05</td><td colspan="2">Opening of the DataPlat - Comonos Workshop</td></tr>
                                <tr><td>11:05 - 11:20</td><td>MongoDB Data Versioning Performance: local versus Atlas</td><td><strong>Ela Pustulka</strong> and Lucia de Espona Pernas</td></tr>
                                <tr><td>11:20 - 11:45</td><td>Easy-to-use interfaces for supporting the user in the semantic annotation of web tables</td><td><strong>Sara Bonfitto</strong>, Paolo Perlasca, and Marco Mesiti</td></tr>
                                <tr><td>11:45 - 12:10</td><td>Toulouse: Learning Join Order Optimization Policies for Rule-based Data Engines</td><td><strong>Antonios Karvelas</strong>, Alkis Simitsis, Yannis E Foufoulas, and Yannis Ioannidis</td></tr>
                                <tr><td>12:10 - 12:35</td><td>Mining Data Wrangling Workflows for Patterns, Reuse and Optimisation Opportunities</td><td>Abdullah Kh Almasaud, <strong>Sandra Sampaio</strong>, and Pedro Sampaio</td></tr>
                                <tr><td>12:35 - 12:50</td><td>Prediction of user-brand associations based on sentiment analysis</td><td><strong>Mariella Bonomo</strong>, Simona Ester Rombo, and Filippo Rotolo</td></tr>
                                
                                <tr style="background-color: lightgray"><td>12:50 - 14:30</td><td colspan="2">Lunch Break</td></tr>    
                                
                                <tr><td>14:30 - 14:45</td><td>Towards a Multi-Model Approach to Support User-Driven Extensibility in Data Warehouses: Agro-ecology Case Study</td><td>Sandro Bimonte, <strong>Fagnine Alassane Coulibaly</strong>, Stefano Rizzi, Sylvie malembic-maher, and Frederic Fabre</td></tr>
                                <tr><td>14:45 - 15:10</td><td>HEALER: A Data Lake Architecture for Healthcare</td><td>Carlo Manco, <strong>Tommaso Dolci</strong>, Fabio Azzalini, Enrico Barbierato, Marco Gribaudo, and Letizia Tanca</td></tr>
                                <tr><td>15:10 - 15:25</td><td>Data migration in column family database evolution using MDE</td><td><strong>Pablo Suárez-Otero</strong>, Michael Mior, María José Suárez-Cabal and Javier Tuya</td></tr>
                                <tr><td>15:25 - 15:50</td><td>Propagating schema changes to code: An approach based on a unified data model</td><td><strong>Alberto Hernández Chillón</strong>, Jesus Garcia-Molina, José Ramón Hoyos and María José Ortín Ibáñez</td></tr>
                                <tr><td>15:50 - 16:15</td><td>Effective queries for mega-analysis in cognitive neuroscience</td><td>Mateusz Pawlik, <strong>Anna Ravenschlag, Monique Denissen</strong>, Bianca Löhnert, Nicole Himmelstoß and Florian Hutzler</td></tr>                                
                                
                                <tr style="background-color: lightgray"><td>16:15 - 16:20</td><td colspan="2">Farewell</td></tr>    
                              </tbody>
                        </table>
                        -->
                        TBA
                    </div>
                </div>

            <!--Presentations from remote can be found on our <a href="https://www.youtube.com/playlist?list=PL4Qa0cbi8qPFd2r-4Hh5lPKcYNxa9GCa-">YouTube channel</a>-->
            </div>
        </div>
    </div>
</section>
